.button_for_all{
    width: 228px;
    height: 68px;
    background-color: #191A23;
    color: white;
    border-radius: 14px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 60px;
    cursor: pointer;
    font-family: Space Grotesk;
    margin: 0 auto;
   
 } 