body
    {
    font-size: 20px; /* הגדרתי 20 כדי לשלוט ביחידות רים אחר כך */
    }


       #nav_bar_mobile {
        width: 70rem;
        @media (max-width: 431px)
          {

          background-image: url(/Yosef_Project_scss/pictures/logo_mobile.png);
        }
    }

.nav_bar{ /* תפריט ניווט ראשי */
  margin: 0 auto;
  height: 68px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: sticky;
  gap: 40px;
      &_text{
          font-size: 1rem;
          color: rgb(0, 0, 0);
      }
      button{
        height: 68px;
        width: 231px;
        background-color: rgb(255, 255, 255)  ;
        border: 1px solid black;
        padding: 20px, 35px, 20px, 35px;
        font-size: 1rem;
        gap: 10px;
        border-radius: 14px;;
        box-shadow: 0.2rem 0.2rem;
      }
      img{
        width: 160px;
        height: 25px;;
        gap: 66px;
      }

    @media (max-width: 430px)
    {
       display: none;
    }

  }

.header{
  grid-template-columns: 50% 50%;
  justify-items: center;
  display: flex;
  font-size: 20px;
  margin: 0 auto;
  top: 5px;;
  background-color: rgb(172, 185, 223);
  width: 1440px;
  height: 515px;;
    &_title{
      font-size: 3rem;
      margin: 10px;
      
    }
    &_info{
      font-size: 1rem;
      margin:20px;
    }
    &_button{
      margin-top: 4rem;
      color: white;
      font-size: 1rem;
      background-color: rgb(0, 0, 0);
      width: 264px;
      height: 68px;
      border-radius: 14px;
      text-align: center
    }
    &_img{
      background-image: url(/Yosef_Project_scss/pictures/Illustration.png);
    }
}



.container {
  display: flex;
  justify-content: center;
}

.item {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
}

.logotypes{     /* כל הלוגו של החברות */
  margin: 0 auto;
  display: grid;
  justify-content: center;
  width: 1440px;
  height: 48px;


  @media (max-width: 2560px) 
  {
    grid-template-columns: repeat(6,1fr);
}

  @media (max-width: 430px)
  {
    grid-template-columns: repeat(2,1fr);
    width: 430px;
  }
}



.heading_and_subheading{   /* הכותרות באמצע */ 
  margin: 0 auto;
  padding: 50px;
  display: grid;
  width: 1440px;
  height: 51px;
  
  &_title{
    background-color: #B9FF66;
    font-size: 2rem;
    width: 110px;
  }
    
  &_p{
    font-size: 1rem;
  }

  @media (max-width: 2560px) 
  {
    grid-template-columns: repeat(1,1fr);
    grid-template-columns: 10% 90%;
}

  @media (max-width: 430px)
  {
    grid-template-columns: 10% 14%;
  }
  }

  .services_block{
    width: 1440px;
    height: 1010px;
    margin: 0 auto;
    background-color: #B9FF66;
    display: grid;
    // grid-template-columns: repeat(3,1);
    justify-content:space-around;
    gap: 80px;

      .card{
    
        width: 600px;
        height: 310px;
        border-radius: 45px;
        box-shadow: 0.2rem 0.2rem;
        border: 1px solid black;
        background-color: #F3F3F3;
        justify-content:space-between;

        &_title{
          font-size: 2rem;
          color: blue;
          padding: 20px;
        }

        &_info{
          padding-top: 111px;
        }
        &_img{
      
        }
      }
  }